*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button, input, textarea, select {
  font: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* ===== 変数 ===== */
:root {
  --black: hsl(250, 56%, 11%);
  --white: hsl(0, 0%, 100%);
  --stone300: hsl(33, 20%, 82%);
  --green: hsl(154, 87%, 28%);
  --blue: hsl(220, 80%, 55%);
  --purple: hsl(278, 84%, 57%);
  --nagato: hsl(73, 96%, 49%);
  --nagatoB: hsl(73, 17%, 90%);

}

html {
    background-color: var(--black);
}

/* ===== ベース ===== */
body {
    background-color: var(--black);
    font-size: 17px;
    color: var(--white);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", "Hiragino Sans", "Noto Sans JP", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    border-bottom: 1px solid var(--nagato);
    align-items: center;
}

.header__icons {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.title__accent {
    font-weight: 700;
    color: var(--nagato);
}
.header__image {
    width: 35px;
    height: 35px;
}

.header__button {
    background-color: var(--black);
    color: var(--nagato);
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid var(--nagato);
    font-size: 12px;
}

.header__button:hover,
.header__button:focus-visible {
    background-color: var(--nagato);
    color: var(--black);
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 32px;
    border-bottom: 1px solid var(--nagato);
}

.cards {
    max-width: 380px;
    width: 100%;
    margin-inline: auto;
}

.card {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--black);
    border-radius: 20px;
    border: 1px solid var(--nagato);
    padding: 10px 10px;
}

.card__image {
    max-width: 380px;
    min-height: 100px;
    border-radius: 20px;
}

.card__labels{
    display: flex;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}

.card__label {
    font-size: 9px;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 999px;
}

.card__label--live {
    background-color: var(--green);
    color: hsl(0, 0%, 100%);
}

.card__label--ios {
    background-color: var(--blue);
    color: hsl(0, 0%, 100%);
}

.card__label--fitness {
    background-color: var(--purple);
    color: hsl(0, 0%, 100%);
}

.card__title {
    font-size: 24px;
    font-weight: 700;
}

.card__text {
    font-size: 12px;
    color: var(--stone300);
}

.card__button {
    background: linear-gradient(90deg, var(--purple), var(--green));
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none;
    padding: 12px 48px;
    margin-top: 12px;
    transition: opacity 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
}

.card__button-text {
    flex: 1;
    text-align: center;
}
.card__button-arrow {
    flex-shrink: 0;
}

.card__button:hover,
.card__button:focus-visible {
    opacity: 0.9;
    transform: translateY(-2px);
}

.footer {
    font-size: 12px;
    color: var(--nagato);
    text-align: center;
    padding:5px 12px;
}

.footer__coder {
    color: var(--white);
}